
.coll{
    display: inline;
}

.bomb
{
    position: absolute;
    height: 32px;
    width: 32px;
    background-image: url(/assets/img/bombdelay.png);
    animation: bombdelay 3s steps(5);
    

}

.explosionB
{
    height: 32px;
    width: 32px;   
    background-image: url(/assets/img/explosion.png) !important;
}

.flame {
    position: absolute;
    height: 32px;
    width: 32px; 
    background-size: 32px 32px;
    background-image: url(/assets/img/flame.png) !important;
}



@keyframes bombdelay{
    to {
        background-position: 0px;
    }

    from {
        background-position: 160px;
    }
}

