<div class="wrapper">

  <div class="mur_gauche"></div>
  <div class="mur_haut"></div>
  <div class="mur_droite"></div>
  <!-- <div class="sol"></div> -->
  <div class="mur_bas"></div>






















  
<!--   <div class="mur_centre1"></div>
  <div class="mur_centre2"></div>
  <div class="mur_centre3"></div>
  <div class="mur_centre4"></div>
  <div class="mur_centre5"></div>
  <div class="mur_centre6"></div>
  <div class="mur_centre7"></div>
  <div class="mur_centre8"></div>
  <div class="mur_centre9"></div>
  <div class="mur_centre10"></div>
  <div class="mur_centre11"></div>
  <div class="mur_centre12"></div>
  <div class="mur_centre13"></div>
  <div class="mur_centre14"></div>
  <div class="mur_centre15"></div>
  <div class="mur_centre16"></div>
  <div class="mur_centre17"></div>
  <div class="mur_centre18"></div>
  <div class="mur_centre19"></div>
  <div class="mur_centre20"></div>
  <div class="mur_centre21"></div>
  <div class="mur_centre22"></div>
  <div class="mur_centre23"></div>
  <div class="mur_centre24"></div>
  <div class="mur_centre25"></div>
  <div class="mur_centre26"></div>
  <div class="mur_centre27"></div>
  <div class="mur_centre28"></div>
  <div class="mur_centre29"></div>
  <div class="mur_centre30"></div>
  <div class="mur_centre31"></div>
  <div class="mur_centre32"></div>
  <div class="mur_centre33"></div>
  <div class="mur_centre34"></div>
  <div class="mur_centre35"></div> -->



  <!-- MUR DESTRUCTIBLE -->

  <!-- <div class="mur_destructible1"></div>
  <div class="mur_destructible2"></div>
  <div class="mur_destructible3"></div>
  <div class="mur_destructible4"></div>
  <div class="mur_destructible5"></div>
  <div class="mur_destructible6"></div>
  <div class="mur_destructible7"></div>
  <div class="mur_destructible8"></div>
  <div class="mur_destructible9"></div>
  <div class="mur_destructible10"></div>
  <div class="mur_destructible11"></div>
  <div class="mur_destructible12"></div>
  <div class="mur_destructible13"></div>
  <div class="mur_destructible14"></div>
  <div class="mur_destructible15"></div>
  <div class="mur_destructible16"></div>
  <div class="mur_destructible17"></div>
  <div class="mur_destructible18"></div>
  <div class="mur_destructible19"></div>
  <div class="mur_destructible20"></div>
  <div class="mur_destructible21"></div>
  <div class="mur_destructible22"></div>
  <div class="mur_destructible23"></div>
  <div class="mur_destructible24"></div>
  <div class="mur_destructible25"></div>
  <div class="mur_destructible26"></div>
  <div class="mur_destructible27"></div>
  <div class="mur_destructible28"></div>
  <div class="mur_destructible29"></div>
  <div class="mur_destructible30"></div>
  <div class="mur_destructible31"></div>
  <div class="mur_destructible32"></div>
  <div class="mur_destructible33"></div>
  <div class="mur_destructible34"></div>
  <div class="mur_destructible35"></div>
  <div class="mur_destructible36"></div>
  <div class="mur_destructible37"></div>
  <div class="mur_destructible38"></div>
  <div class="mur_destructible39"></div>
  <div class="mur_destructible40"></div>
  <div class="mur_destructible41"></div>
  <div class="mur_destructible42"></div>
  <div class="mur_destructible43"></div>
  <div class="mur_destructible44"></div>
  <div class="mur_destructible45"></div>
  <div class="mur_destructible46"></div>
  <div class="mur_destructible47"></div>
  <div class="mur_destructible48"></div>
  <div class="mur_destructible49"></div>
  <div class="mur_destructible50"></div>
  <div class="mur_destructible51"></div>
  <div class="mur_destructible52"></div>
  <div class="mur_destructible53"></div>
  <div class="mur_destructible54"></div>
  <div class="mur_destructible55"></div>
  <div class="mur_destructible56"></div>
  <div class="mur_destructible57"></div>
  <div class="mur_destructible58"></div>
  <div class="mur_destructible59"></div>
  <div class="mur_destructible60"></div>
  <div class="mur_destructible61"></div>
  <div class="mur_destructible62"></div>
  <div class="mur_destructible63"></div>
  <div class="mur_destructible64"></div>
  <div class="mur_destructible65"></div>
  <div class="mur_destructible66"></div>
  <div class="mur_destructible67"></div>
  <div class="mur_destructible68"></div>
  <div class="mur_destructible69"></div>
  <div class="mur_destructible70"></div> -->

</div>



