<div class="wrapper">
  <!-- row 1 -->
  <div class="mur_gauche"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_haut"></div>
  <div class="mur_droite"></div>
  <!-- row 2 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 3 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 4 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 5 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 6 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 7 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 8 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 9 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 10 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 11 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_centre"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 12 -->
  <div class="mur_gauche"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="sol"></div>
  <div class="mur_droite"></div>
  <!-- row 13 -->
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
  <div class="mur_bas"></div>
</div>


