.wrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(17, 32px);
  grid-template-rows: repeat(13, 32px);
  
 
}

.sol {
  background-image: url(../../assets/img/sol.jpg);
  grid-row: 2 / 13;
  grid-column: 2 / 17;
}

.mur_haut {
  padding: 16px;
  background-image: url(../../assets/img/haut.jpg);
  grid-column: 2 / 17;
}

.mur_bas {
  padding: 16px;
  background-image: url(../../assets/img/bas.jpg);
  grid-column: 1 / 18;
}

.mur_gauche {
  padding: 16px;
  background-image: url(../../assets/img/gauche.jpg);
  grid-row: 1 / 13;
  grid-column: 1 / 2;
}

.mur_droite {
  padding: 16px;
  background-image: url(../../assets/img/droite.jpg);
  grid-row: 1 / 13;
  grid-column: 17;
}

.mur_centre1 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 3;
}

.mur_centre2 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 5;
}

.mur_centre3 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 7;
}

.mur_centre4 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 9;
}

.mur_centre5 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 11;
}

.mur_centre6 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 13;
}

.mur_centre7 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 3;
  grid-column: 15;
}

.mur_centre8 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 3;
}

.mur_centre9 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 5;
}

.mur_centre10 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 7;
}

.mur_centre11 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 9;
}

.mur_centre12 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 11;
}

.mur_centre13 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 13;
}

.mur_centre14 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 5;
  grid-column: 15;
}

.mur_centre15 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 3;
}

.mur_centre16 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 5;
}

.mur_centre17 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 7;
}

.mur_centre18 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 9;
}

.mur_centre19 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 11;
}

.mur_centre20 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 13;
}

.mur_centre21 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 7;
  grid-column: 15;
}

.mur_centre22 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 3;
}

.mur_centre23 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 5;
}

.mur_centre24 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 7;
}

.mur_centre25 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 9;
}

.mur_centre26 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 11;
}

.mur_centre27 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 13;
}

.mur_centre28 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 9;
  grid-column: 15;
}

.mur_centre29 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 3;
}

.mur_centre30 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 5;
}

.mur_centre31 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 7;
}

.mur_centre32 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 9;
}

.mur_centre33 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 11;
}

.mur_centre34 {
  padding: 16px;
  background-image: url(../../assets/img/eau_infranchissable.png);
  grid-row: 11;
  grid-column: 13;
}

.mur_centre35 {
  padding: 16px;
  background-image: url(../../assets/img/caisse_bois.jpg);
  grid-row: 11;
  grid-column: 15;
}
