.wrapper {
  max-width: 351px;
  min-width: 320px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(17, 32px);
  grid-template-rows: repeat(13, 32px);
  z-index: 50;
}

.sol {
  background-image: url(../../assets/img/floorGreen.jpg);
  grid-row: 2 / 13;
  grid-column: 2 / 17;
}

.mur_haut {
  padding: 16px;
  background-image: url(../../assets/img/wallThree.jpg);
  grid-column: 2 / 17;
}

.mur_bas {
  padding: 16px;
  background-image: url(../../assets/img/wallThree.jpg);
  grid-column: 1 / 18;
}

.mur_gauche {
  padding: 16px;
  background-image: url(../../assets/img/mur-droite.jpg);
  grid-row: 1 / 13;
  grid-column: 1 / 2;
}

.mur_droite {
  padding: 16px;
  background-image: url(../../assets/img/mur-droite.jpg);
  grid-row: 1 / 13;
  grid-column: 17;
}

.mur_centre1 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 3;
}

.mur_centre2 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 5;
}

.mur_centre3 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 7;
}

.mur_centre4 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 9;
}

.mur_centre5 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 11;
}

.mur_centre6 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 13;
}

.mur_centre7 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 3;
  grid-column: 15;
}

.mur_centre8 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 3;
}

.mur_centre9 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 5;
}

.mur_centre10 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 7;
}

.mur_centre11 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 9;
}

.mur_centre12 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 11;
}

.mur_centre13 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 13;
}

.mur_centre14 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 5;
  grid-column: 15;
}

.mur_centre15 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 3;
}

.mur_centre16 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 5;
}

.mur_centre17 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 7;
}

.mur_centre18 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 9;
}

.mur_centre19 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 11;
}

.mur_centre20 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 13;
}

.mur_centre21 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 7;
  grid-column: 15;
}

.mur_centre22 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 3;
}

.mur_centre23 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 5;
}

.mur_centre24 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 7;
}

.mur_centre25 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 9;
}

.mur_centre26 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 11;
}

.mur_centre27 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 13;
}

.mur_centre28 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 9;
  grid-column: 15;
}

.mur_centre29 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 3;
}

.mur_centre30 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 5;
}

.mur_centre31 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 7;
}

.mur_centre32 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 9;
}

.mur_centre33 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 11;
}

.mur_centre34 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 13;
}

.mur_centre35 {
  padding: 16px;
  background-image: url(../../assets/img/PierreWall.jpg);
  grid-row: 11;
  grid-column: 15;
}






/* MUR DESTRUCTIBLE */

.mur_destructible1 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 4;
  display: none;
}

.mur_destructible2 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 5;
}

.mur_destructible3 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 8;
}

.mur_destructible4 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 11;
}

.mur_destructible5 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 12;
}

.mur_destructible6 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 13;
}

.mur_destructible7 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 2;
  grid-column: 12;
}

.mur_destructible8 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 3;
  grid-column: 8;
}

.mur_destructible9 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 3;
  grid-column: 12;
}

.mur_destructible10 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 2;
}

.mur_destructible11 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 4;
}

.mur_destructible12 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 5;
}

.mur_destructible13 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 7;
}

.mur_destructible14 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 9;
}

.mur_destructible15 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 10;
}

.mur_destructible16 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 12;
}

.mur_destructible17 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 14;
}

.mur_destructible18 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 15;
}

.mur_destructible19 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 4;
  grid-column: 16;
}

.mur_destructible20 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 2;
}

.mur_destructible21 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 4;
}

.mur_destructible22 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 5;
}

.mur_destructible23 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 6;
}

.mur_destructible24 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 10;
}

.mur_destructible25 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 6;
  grid-column: 14;
}

.mur_destructible26 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 7;
  grid-column: 8;
  

}

.mur_destructible27 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 7;
  grid-column: 10;
}

.mur_destructible28 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 7;
  grid-column: 12;
}

.mur_destructible29 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 7;
  grid-column: 14;
}

.mur_destructible30 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 7;
  grid-column: 16;
}

.mur_destructible31 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 2;
}

.mur_destructible32 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 3;
}

.mur_destructible33 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 4;
}

.mur_destructible34 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 6;
}

.mur_destructible35 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 8;
}

.mur_destructible36 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 10;
}

.mur_destructible37 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 14;
}

.mur_destructible38 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 8;
  grid-column: 16;
}

.mur_destructible39 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 2;
}

.mur_destructible40 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 3;
}

.mur_destructible41 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 4;
}

.mur_destructible42 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 8;
}

.mur_destructible43 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 9;
}

.mur_destructible44 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 12;
}

.mur_destructible45 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 14;
}

.mur_destructible46 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 15;
}

.mur_destructible47 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 16;
}

.mur_destructible48 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 4;
}

.mur_destructible49 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 5;
}

.mur_destructible50 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 6;
}

.mur_destructible51 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 10;
  grid-column: 5;
}

.mur_destructible52 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 3;
  grid-column: 14;
}

.mur_destructible53 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 9;
}

.mur_destructible54 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 11;
}

.mur_destructible55 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 12;
}

.mur_destructible56 {
  background-image: url(../../assets/img/Box.jpg);
  padding: 16px;
  grid-row: 12;
  grid-column: 14;
}

