<div class="container">
  <div class="page-header">
      <h1>Bomber<strong>Wild</strong></h1>
  </div>
  <div id="game">
    <app-game ></app-game>
  </div>
  <div>   
      <h3>How to play</h3>
      <hr>
      <h4>Player 1</h4>
      <ul>
          <li><strong>Arrow keys</strong> &hellip; move</li>
          <li><strong>Spacebar / alt</strong> &hellip; plant the bomb</li>
      </ul>
      <h4>Player 2</h4>
      <ul>
          <li><strong>W, A, S, D</strong> &hellip; move</li>
          <li><strong>Shift</strong> &hellip; plant the bomb</li>
      </ul>
      <h4>Extra</h4>
      <ul>
          <li><strong>M</strong> &hellip; mute / unmute sound</li>
          <li><strong>Enter</strong> &hellip; stop / restart</li>
          <li><strong>Escape</strong> &hellip; menu</li>
      </ul>
      <hr>
      <h5>Contributor</h5>
      <p><strong>Wild Code School Student:</strong> Michaël M, Davut K, Anthony I, Benjamin P, Eliott B </p>
  </div>
</div>

<router-outlet></router-outlet>
