<div class="container-fluid backi">
  <div class="row page-header justify-content-center ">
    <div class="col-12">
      <img src="../assets/img/Logo.png" class="img-fluid animated bounceIn slower " alt="Logo Bomber wild" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 ">
      <img src="../assets/img/flame.png" class="flamme img-fluid animated bounceIn slower " alt="Power fire" />
      <p id="compteur" class="typofirepower"> Fire Power : {{counterValue}}</p>
    </div>
    
  </div>
  <div class="row justify-content-center">
    <!-- <audio src="../assets/Sound/B_A012B_22K.wav" autoplay ></audio>
   <audio src="../assets/Sound/06_BGM 2.mp3" autoplay loop ></audio> -->

    <app-game></app-game>
  </div>

  <div class="row text animated bounceIn delay-1 slower ">
    <div class="col-sm-9 ">
      <h3>How to play</h3>
      <hr>
    </div>
  </div>
  <div class="row text animated bounceIn delay-1 slower ">
    <div class="col-sm-3">
      <h4>Player 1</h4>
      <ul>
        <li><strong>Arrow keys</strong> &hellip; move</li>
        <li><strong>Spacebar</strong> &hellip; plant the bomb</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Player 2</h4>
      <ul>
        <li><strong>Z, D, S, Q</strong> &hellip; move</li>
        <li><strong>Shift</strong> &hellip; plant the bomb</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Extra</h4>
      <ul>
        <li><strong>M</strong> &hellip; mute / unmute sound</li>
        <li><strong>Enter</strong> &hellip; stop / restart</li>
        <li><strong>Escape</strong> &hellip; menu</li>
      </ul>

    </div>

  </div>
  <div class="row text animated bounceIn delay-1 slower">
    <div class="col-sm-9">
      <hr>
      <p>Contributor Wild Code School Student: Michaël M, Davut K, Anthony I, Benjamin P, Elliot B </p>
    </div>
  </div>
</div>



<router-outlet></router-outlet>