/* #guy {
  position: absolute;
  background-image: url("/assets/img/bomberman.png");
  height: 32px;
  width: 32px;
} */



.player {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeBOTTOM.png');
    animation: playerMove 1.2s infinite steps(1);
}

.playerRIGHT {

    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeRIGHT.png');
    animation: playerRight 1.2s infinite steps(4);
}

.playerBOTTOM {
    
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeBOTTOM.png');
    animation: playerBottom 1.2s infinite steps(4);
}

.playerLEFT {

    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeLEFT.png');
    animation: playerLeft 1.2s infinite steps(4);
}

.playerUP {

    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeUP.png');
    animation: playerUp 1.2s infinite steps(4);
}

@keyframes playerMove {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerRight {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerBottom {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerLeft {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerUp {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}
