
 .playerSTAND{
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeBOTTOM.png');
    animation: playerMove 1.2s infinite steps(1);
}

.playerTOP{
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeUP.png');
    animation: playerTop 1.2s infinite steps(4);
}

.playerRIGHT{
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeRIGHT.png');
    animation: playerRight 1.2s infinite steps(4);
}

.playerBOT{
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeBOTTOM.png');
    animation: playerBot 1.2s infinite steps(4);
}

.playerLEFT{
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/georgeLEFT.png');
    animation: playerLeft 1.2s infinite steps(4);
}



@keyframes playerStand {
    to {
        background-position: 0px;
    }

    from {
        background-position: -100px;
    }
}

@keyframes playerTop{
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerRight {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerBot {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}

@keyframes playerLeft {
    to {
        background-position: 0px;
    }

    from {
        background-position: -129px;
    }
}


